<!-- Settings Modal -->
<div id="about-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="ut-header">About</h4>
      <section>
        <p>Utilitron BETA</p>
        <p><a ng-click="closeModal('#about-modal')" href="#/getting-started">Getting Started</a></p>
        <h5 class="ut-subheader">Attribution</h5>
        <ul class="ut-attribution-list">
          <li>Timezone Finder Map from <a href="http://momentjs.com/timezone/">Moment Timezone</a></li>
          <li>Calendar from <a href="http://fullcalendar.io/">Full Calendar</a></li>
          <li>Unit conversion rates from <a href="https://github.com/MaicolBen/unit-converter">MaicolBen@GitHub</a></li>
        </ul>
      </section>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
  </div>
</div>
