/*! Utilitron styling | MIT Licence */

/* Materialize Overrides */
.card.large,
.card.large .card-image,
.card.large .card-content {
  height: auto;
}
.card.large {
  min-height: 500px;
}
.card.large .card-content {
  min-height: 170px;
}
.card.large .card-action {
  position: relative;
}

/* NG animate */
.ut-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.ut-show-hide.ng-hide {
  opacity:0;
}

/* Create content offset for fixed sidenav */
header, main, footer {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/* Nav and menu */
nav div.nav-wrapper ul.right,
nav div.nav-wrapper ul.right li {
  height: 100%;
}
#settings-dropdown-btn {
  position: relative;
  z-index: 1;
  height: 64px;
}
.ut-menu-expand {
  color: #999;
}
.ut-breadcrumb {
  font-size: 2.0rem;
}
.ut-breadcrumb.center {
  position: absolute;
  left: 50%;
}
.ut-breadcrumb.left {
  margin-left: 0.5em;
}
a.ut-navbar-btn i.fa {
  line-height: initial;
}


/* Side nav */
ul.side-nav.fixed li a {
  font-size: 13px;
  line-height: 44px;
  height: 44px;
}

/* Logo */
ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
  height: 64px;
}
#logo-container {
  height: 57px;
  margin-bottom: 32px;
  width: 100%;
  text-align: left;
}
.ut-logo-icon {
  height: 40px;
  width: 40px;
  margin: 0;
  position: relative;
  top: 10px;
}
.ut-logotype {
  height: 40px;
  font-size: 25px;
}
.ut-logotype sup {
  font-size: 35%;
  top: -1.5em;
}

/* Headers */
.ut-header {
  color: #ee6e73;
  font-weight: 300;
}
.ut-subheader {
  font-weight: 100;
  color: #333;
  color: rgba(50, 50, 50, 0.9);
}

/* Content related styling */
.ut-content {
  margin-top: 16px;
}
.ut-divider {
  margin: 10px 0;
}

/* Site-specific utility */
.ut-margin-left {
  margin-left: 10px;
}
.ut-margin-right {
  margin-right: 10px;
}
ut-construction section {
  padding: 10px;
}
.ut-btn-control {
  width: 100%;
}
.ut-container {
  width: 100%;
  padding: 0;
}

/* Icons */
.ut-mdi-icon {
  vertical-align: middle;
}

/* Table of Contents {{{ */
.ut-toc a {
  cursor: pointer;
}
/* }}} */

/* Math-related symbols and styling */
.ut-math-operator {
  position: relative;
  top: 25px;
  font-size: 20px;
}

/* Stopwatch {{{ */
.stopwatch-time h1 {
  margin-bottom: 0;
}
.stopwatch-time {
  margin-bottom: 20px;
}
/* }}} */

/* Panel */
.ut-panel-heading,
.ut-panel-body {
  padding: 10px;
  margin: 10px 0;
}

/* Modal styling */

/* Settings modal */
#settings-modal section {
  margin: 10px 0;
}
.settings-option {
  font-weight: bold;
}

/* END Modal styling */


/* Time/Date > Timezone Finder > Map {{{ */
.map { margin:0 auto; max-width:1024px; padding:40px; }
.map-wrap { background:#4e7cad url(../public/img/timedate/bg.png); padding:1px; border-radius:3px; position:relative; }
.map-label { line-height:60px; font-size:24px; margin:0; color:#4e7cad; font-family:monospace; }
.map-label span { display:block;}
.map-label .map-label-name{ float:left; width:50%; padding-right:10px; text-align:right; }
.map-label .map-label-time{ margin-left:50%; padding-left:10px; text-align:left; }
.map-inset { padding-bottom:50%; background:url(../public/img/timedate/world.png) 50% 50%; -webkit-background-size:cover; background-size:cover; position:relative; border-radius:2px; }
.map-inset span { width:6px; height:6px; margin:-3px 0 0 -3px; background:#fff; position:absolute; border-radius:3px; border:1px solid #4e7cad; }
.map-inset span.active { background:#4e7cad; }
.map-inset .map-axis-x { position:absolute; top:0; bottom:0; border-left:1px solid rgba(78, 124, 173, 0.5); width:0; -webkit-transition:left 50ms ease-out; transition:left 50ms ease-out; }
.map-inset .map-axis-y { position:absolute; left:0; right:0; border-top:1px solid rgba(78, 124, 173, 0.5); height:0; -webkit-transition:top 50ms ease-out; transition:top 50ms ease-out; }
/* }}} */

/* Calculator {{{ */
.calc-display input[type='text'] {
  text-align: right;
}
/* }}} */

/* Small screen styling */
@media only screen and (max-width: 600px) {
  #settings-dropdown-btn,
  ul.side-nav.fixed li.logo {
    height: 56px;
  }
  #settings-dropdown-btn {
    padding-top: 15px;
  }
}

/* Centre top nav offset fix for sidenav */
@media only screen and (min-width: 993px) {
  .ut-breadcrumb {
    margin-left: -240px;
  }
}

/* Right top nav menu fix for medium-large screens */
@media only screen and (min-width: 993px) and (max-width: 1765px) {
  nav.top-nav ul.right {
    margin-right: 240px;
  }
}

/* Themes {{{ */

/* Default */
body #nav-mobile {
  background-color: #fcfcfc;
}

/* Dark */
body.ut-theme-dark {
  background-color: #f9f9f9;
}
body.ut-theme-dark .top-nav {
  background-color: #333;
}
body.ut-theme-dark #nav-mobile {
  background-color: lightgray;
}

/* Light */
body.ut-theme-light .top-nav {
  background-color: #5F8CC7;
}
body.ut-theme-light #nav-mobile {
  background-color: white;
}

/* }}} */
