/* Utilitron styling */

/* Angular Material overrides and additions {{{ */
.md-body-2, md-list .md-subheader, md-list-item.md-2-line .md-list-item-text h4, md-list-item.md-2-line > .md-no-style .md-list-item-text h4, md-list-item.md-3-line .md-list-item-text h4, md-list-item.md-3-line > .md-no-style .md-list-item-text h4, md-list-item.md-2-line .md-list-item-text p, md-list-item.md-2-line > .md-no-style .md-list-item-text p, md-list-item.md-3-line .md-list-item-text p, md-list-item.md-3-line > .md-no-style .md-list-item-text p {
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 2.4rem;
}
md-list-item.md-2-line .md-list-item-text p, md-list-item.md-2-line > .md-no-style .md-list-item-text p, md-list-item.md-3-line .md-list-item-text p, md-list-item.md-3-line > .md-no-style .md-list-item-text p {
    margin: 0px;
    line-height: 1.6em;
}
md-list-item.md-2-line .md-list-item-text h3 {
	margin-bottom: 0.2em;
	font-weight: 300;
	font-size: 90%;
}
.md-subheader { padding: 0; }

md-toolbar h1 {
	font-weight: normal;
}

.md-toolbar-tools {
	font-weight: 400;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	height: 64px;
	max-height: 64px;
	padding: 0 16px;
	margin: 0;
}
section.ut-panel .md-toolbar-tools h1, section.ut-panel .md-toolbar-tools h2, section.ut-panel .md-toolbar-tools h3 {
	color: #616161;
}

/* }}} */

/* Utilitron styling {{{ */
.ut-logo-icon { height: 40px; width: 40px; margin: 0; }
.ut-logotype { height: 40px; text-indent: 15px; padding-top: 10px; }

.ut-container {
	padding: 16px;
}

.ut-content {
	max-width: 1170px;
}

.ut-toolbar {
	background: #f2f2f2 !important;
	color: #616161;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 0;
}

.ut-error { color: red; font-size: 10pt; }

/* Sidenav area */
/* UT Menu */
.ut-menu .md-button {
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	display: block;
	line-height: 40px;
	margin: 0;
	max-height: 40px;
	overflow: hidden;
	padding: 0px 16px;
	text-align: left;
	text-decoration: none;
	white-space: normal;
	width: 100%;
}

.ut-menu li.parentActive,
.ut-menu li.parentActive .menu-toggle-list,
.ut-menu md-list-item.parentActive,
.ut-menu md-list-item.parentActive .menu-toggle-list {
  background-color: #f6f6f6;
}
.menu-toggle-list {
	margin: 0;
	padding: 0;
  background: #fff;
  max-height: 2000px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}
.menu-toggle-list.ng-hide {
  max-height: 0;
}

.ut-menu .menu-toggle-list a.md-button {
  display: block;
  font-weight: 400;
  padding: 0 16px 0 32px;
  text-transform: none;
}
.md-button-toggle .md-toggle-icon md-icon {
	/* Needed if using font-awesome as icon */
	/*margin-top: 10px;*/
	color: grey;
}
.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

/* End UT Menu */
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.active, md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

	md-sidenav md-list md-list-item {
		width: 100%;
	}
/* }}} */

/* Time/Date > Timezone Finder > Map {{{ */
.map { margin:0 auto; max-width:1024px; padding:40px; }
.map-wrap { background:#4e7cad url(../public/img/timedate/bg.png); padding:1px; border-radius:3px; position:relative; }
.map-label { line-height:60px; font-size:24px; margin:0; color:#4e7cad; font-family:monospace; }
.map-label span { display:block;}
.map-label .map-label-name{ float:left; width:50%; padding-right:10px; text-align:right; }
.map-label .map-label-time{ margin-left:50%; padding-left:10px; text-align:left; }
.map-inset { padding-bottom:50%; background:url(../public/img/timedate/world.png) 50% 50%; -webkit-background-size:cover; background-size:cover; position:relative; border-radius:2px; }
.map-inset span { width:6px; height:6px; margin:-3px 0 0 -3px; background:#fff; position:absolute; border-radius:3px; border:1px solid #4e7cad; }
.map-inset span.active { background:#4e7cad; }
.map-inset .map-axis-x { position:absolute; top:0; bottom:0; border-left:1px solid rgba(78, 124, 173, 0.5); width:0; -webkit-transition:left 50ms ease-out; transition:left 50ms ease-out; }
.map-inset .map-axis-y { position:absolute; left:0; right:0; border-top:1px solid rgba(78, 124, 173, 0.5); height:0; -webkit-transition:top 50ms ease-out; transition:top 50ms ease-out; }
/* }}} */
