/*! Utility/Helper styling/formatting */

/* Text styling */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-red { color: red; }
.text-green { color: green; }
.text-blue { color: blue; }
.text-yellow { color: #cfcf50; }
.text-white { color: white; }
.text-gray, .text-grey { color: gray; }
.text-bold { font-weight: bold; }
.text-normal { font-weight: normal; }
.text-overflow-ellipsis { text-overflow: ellipsis; }
.text-transform-initial { text-transform: initial; }

/* Background styling */
.bg-red { background-color: red; }
.bg-green { background-color: green; }
.bg-blue { background-color: blue; }
.bg-yellow { background-color: #cfcf50; }
.bg-gray, .bg-grey { background-color: rgb(210, 210, 210); }
/* Background overrides */
.bg-green-or { background-color: green !important; }
.bg-yellow-or { background-color: #cfcf50 !important; }
.bg-gray-or, .bg-grey-or { background-color: rgb(210, 210, 210) !important; }

/* Alignment */
.pull-left { float: left; }
.pull-right { float: right; }

/* Cursors */
.cursor-help { cursor: help; }
.cursor-pointer { cursor: pointer; }
.cursor-progress { cursor: progress; }
.cursor-none { cursor: none; }

/* Text/content selection */
.select-none { user-select: none; -webkit-user-select: none; -moz-user-select: none; }
