<section>
  <div class="row">
    <form class="col s12" name="dateDifferenceForm">
      <div class="row">
        <div class="input-field col s6">
          <label class="active" for="date-start">Start</label>
          <input id="date-start" type="date" class="datepicker" ng-model="date.start"/>
        </div>
        <div class="input-field col s6">
          <label class="active" for="date-end">End</label>
          <input id="date-end" type="date" class="datepicker" ng-model="date.end" min="{{date.start}}"/>
        </div>
      </div>
    </form>
  </div>

  <div class="divider"></div>
  <div class="section row">
    <h4 class="header">Result</h4>
    <ul>
      <li>
        <h5>Human Readable</h5>
        <p ng-bind="date.diff.text || 'Same date'"></p>
      </li>
      <li>
        <h5>Years</h5>
        <p ng-bind="date.diff.years"></p>
      </li>
      <li>
        <h5>Months</h5>
        <p ng-bind="date.diff.months"></p>
      </li>
      <li>
        <h5>Days</h5>
        <p ng-bind="date.diff.days"></p>
      </li>
    </ul>
  </div>
</section>
