<section class="ut-content" flex layout="column">
  <form name="timeDifferenceForm">
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Start</label>
        <input type="time" ng-model="time.start" class="md-input">
      </md-input-container>
      <md-input-container flex>
        <label>End</label>
        <input type="time" ng-model="time.end" min="{{time.start}}" class="md-input">
      </md-input-container>
    </div>
  </form>
  <div ng-show="time.difference">
    <md-subheader class="md-no-sticky">Result</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <h3>Combined format</h3>
          <p ng-bind="time.difference.text"></p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <h3>Hours</h3>
          <p ng-bind="time.difference.hrs"></p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <h3>Minutes</h3>
          <p ng-bind="time.difference.min"></p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <h3>Seconds</h3>
          <p ng-bind="time.difference.sec"></p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</section>
