<section>
  <div class="row">
    <form class="col s12" name="timeDifferenceForm">
      <div class="row">
        <div class="input-field col s6">
          <label class="active" for="time-start">Start</label>
          <input id="time-start" type="time" ng-model="time.start"/>
        </div>
        <div class="input-field col s6">
          <label class="active" for="time-end">End</label>
          <input id="time-end" type="time" ng-model="time.end" min="{{time.start}}"/>
        </div>
      </div>
    </form>
  </div>

  <div class="divider"></div>
  <div class="section row">
    <h4 class="header">Result</h4>
    <ul>
      <li>
        <h5>Combined format</h5>
        <p ng-bind="time.difference.text"></p>
      </li>
      <li>
        <h5>Hours</h5>
        <p ng-bind="time.difference.hrs"></p>
      </li>
      <li>
        <h5>Minutes</h5>
        <p ng-bind="time.difference.min"></p>
      </li>
      <li>
        <h5>Seconds</h5>
        <p ng-bind="time.difference.sec"></p>
      </li>
    </ul>
  </div>
</section>
