<script>
  // JS - Added this in order to load timezone data http://momentjs.com/timezone/docs/#/data-loading/
  $.getJSON('bower_components/moment-timezone/data/packed/latest.json').then(function (data) {
    moment.tz.load(data);
  });
</script>
<script src="public/js/moment-timezone-map.js"></script>

<section>
  <div class="map" flex layout="column">
    <h3 class="map-label" layout-sm="column" layout-md="column">
      <span class="map-label-name"></span>
      <span class="map-label-time"></span>
    </h3>
    <div class="map-wrap">
      <div class="map-inset">
        <div class="map-axis-x"></div>
        <div class="map-axis-y"></div>
      </div>
    </div>
  </div>
</section>
