<md-dialog class="ut-dialog-note" aria-label="Settings dialog" flex flex-gt-sm="66">
  <md-dialog-content>
    <md-content>
      <form layout="column">
        <md-input-container>
          <label>Title</label>
          <input type="text" ng-model="note.title">
        </md-input-container>
        <md-input-container>
          <label>Body</label>
          <textarea ng-model="note.body"></textarea>
        </md-input-container>
      </form>
    </md-content>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="delete()" ng-show="noteIndex || noteIndex === 0" class="md-warn">
      Delete
    </md-button>
    <md-button ng-click="save(note)" class="md-primary">
      Save
    </md-button>
    <md-button ng-click="closeDialog()" class="md-warn">
      Close
    </md-button>
  </div>
</md-dialog>
