<ul class="collapsible" data-collapsible="expandable">
  <li class="bold">
    <a class="collapsible-header waves-effect waves-teal">{{section.name}} <i class="ut-menu-expand toggle mdi-navigation-expand-more right"></i></a>
    <div ng-if="section.pages" class="collapsible-body">
      <ul>
        <li ng-repeat="child in section.pages">
          <menu-link ng-if="child.type === 'link'" section="child"></menu-link>
          <!-- <menu-toggle ng-if="child.type === 'toggle'" section="child"></menu-toggle>--> <!-- Causes infinite recursion -->
        </li>
      </ul>
    </div>
  </li>
</ul>
