<section class="ut-content" flex layout="column">
  <!-- https://github.com/adambom/dictionary -->
  <md-content layout-padding>
    <!-- TODO - finish local implementation -->
    <md-checkbox ng-model="useUtilitronDict" aria-label="Use Utilitron Dictionary" ng-change="showSavedToast()">
      Use Utilitron Dictionary
    </md-checkbox>

    <ut-construction>

      <form ng-if="useUtilitronDict" ng-submit="$event.preventDefault()">
        <md-autocomplete
          ng-disabled="true"
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in words"
          md-item-text="item.word"
          md-min-length="0"
          placeholder="Search a word...">
        </md-autocomplete>
      </form>

    </ut-construction>

  </md-content>
</section>
