<section class="ut-content ut-article-list" flex layout="column">
  <div id="anchor-toc" class="ut-toc md-whiteframe-z1 bg-grey" layout-padding>
    <h3>Table of Contents</h3>
    <ul>
      <li><a href="" ng-click="gotoAnchor('nounsverbssubjects')">Nouns, Verbs, and Subjects</a></li>
      <li><a href="" ng-click="gotoAnchor('clausesandphrases')">Clauses and Phrases</a></li>
    </ul>
  </div>

  <md-divider style="margin-top: 30px;"></md-divider>

  <article id="anchor-nounsverbssubjects">
    <h3>Nouns, Verbs, and Subjects</h3>
    <p>
      A <b>noun</b> is a word or set of words for a person, place, thing, or idea. A noun of more than one word (tennis court, gas station) is called a compound noun.
      There are common nouns and proper nouns. Common nouns are words for a general class of people, places, things, and ideas (man, city, award, honesty). They are not capitalized. Proper nouns are always capitalized. They name specific people, places, and things (Joe, Chicago, Academy Award).
    </p>
    <p>
      A <b>verb</b> is a word or set of words that shows action (runs, is going, has been painting); feeling (loves, envies); or state of being (am, are, is, have been, was, seem).
    </p>
    <p>
      Examples:<br/>
      He <i>ran</i> around the block.<br/>
      I <i>like</i> my friend.<br/>
      They <i>seem</i> friendly.
    </p>
  </article>

  <article id="anchor-clausesandphrases">
    <h3>Clauses and Phrases</h3>
    <p>
      A clause is a group of words containing a subject and verb. An independent clause is a simple sentence. It can stand on its own.
    </p>
    <p>
      Examples:<br/>
      She is hungry.<br/>
      I am feeling well today.
    </p>
    <p>
      A dependent clause cannot stand on its own. It needs an independent clause to complete a sentence. Dependent clauses often begin with such words as although, since, if, when, and because.
    </p>
    <p>
      Examples:<br/>
      Although she is hungry …<br/>
      Whoever is hungry …<br/>
      Because I am feeling well …
    </p>
  </article>

  <md-button ng-click="gotoAnchor('toc')" aria-label="Back to Top"><i class="fa fa-chevron-up fa-lg"></i></md-button>

</section>
