<section class="ut-content" flex layout="column">
  <div class="ut-controls" layout layout-align="center center">
    <md-button class="md-fab" aria-label="New Note" ng-click="open(null)"><i class="fa fa-plus"></i></md-button>
  </div>

  <md-divider class="ut-divider"></md-divider>

  <md-list ng-show="notes.length">
    <md-list-item layout-margin class="md-2-line cursor-pointer"
    ng-click="open($event, note, index)"
    ng-repeat="(index, note) in notes track by index | orderBy:'date'">
      <div layout-padding class="md-list-item-text ut-hover" ng-class="{yellow: 'bg-yellow', grey: 'bg-grey', green: 'bg-green'}[note.colour]">
        <p>{{note.title}}</p>
        <h3 class="text-overflow-ellipsis">{{note.body}}</h3>
      </div>
    </md-list-item>
  </md-list>

  <div ng-show="!notes.length" class="text-grey" layout layout-align="center center">No notes yet</div>
</section>
