<section class="ut-content" flex layout="column">
  <md-card>
    <img src="public/img/home-hero-card.jpg" class="md-card-image" alt="Home Hero Image">
    <md-card-content>
      <h2 class="md-title">Welcome to Utilitron!</h2>
      <p>
        This app aims at being the penknife of all apps: a handy, all-in-one
        set of tools at your disposal that are all in the one place. How handy!
      </p>
      <p>
        Check out the getting started section for a quick run down on the ins
        and outs of the app.
      </p>
      <div class="md-actions" layout="row" layout-align="center center">
        <md-button ng-href="#/getting-started">Getting started</md-button>
      </div>
    </md-card-content>
  </md-card>
</section>
