<script src="bower_components/unit-converter-js/unit-converter.js"></script>

<section>
  <div class="row">
    <form class="col s12" name="unitConversionForm">
      <div class="row">
        <div class="input-field col s8">
          <label>From</label>
          <input type="number" name="fromValue" ng-model="from.value" class="md-input">
        </div>
        <div class="input-field col s4">
          <label>From Unit</label>
          <select ng-model="from.unit" required>
            <option value="{{ from.unit ? from.unit : '' }}" disabled selected>
              {{ from.unit ? from.unit.symbol : '-- Select Unit --' }}
            </option>
            <option ng-value="unit" ng-repeat="unit in units">{{unit.name}}</option>
            <!-- <div label="{{t.type}}" ng-repeat="t in types">
              <option ng-value="unit" ng-repeat="unit in units | filter:{type: t.type}">{{unit.name}}</option>
            </div> -->
          </select>
        </div>
      </div>

      <div class="ut-error" ng-if="unitConversionForm.$error.incompat">
        <span class="md-warn md-caption">{{unitConversionForm.$error.incompat}}</span>
      </div>
    </form>
  </div>
</section>
