<section class="ut-content" flex layout="column">
  <form name="unitConversionForm">
    <div layout layout-sm="column">
      <md-input-container>
        <label>From</label>
        <input type="number" name="fromValue" ng-model="from.value" class="md-input">
      </md-input-container>
      <md-input-container>
        <md-select ng-model="from.unit" md-on-open="loadUnits()" required>
          <md-select-label>{{ from.unit ? from.unit.symbol : 'Select unit' }}</md-select-label>
          <md-option ng-value="unit" ng-repeat="unit in units">{{unit.symbol}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>To</label>
        <input type="number" name="toValue" ng-model="to.value" class="md-input">
      </md-input-container>
      <md-input-container>
        <md-select ng-model="to.unit" md-on-open="loadUnits()" required>
          <md-select-label>{{ to.unit ? to.unit.symbol : 'Select unit' }}</md-select-label>
          <md-option ng-value="unit" ng-repeat="unit in units">{{unit.symbol}}</md-option>
        </md-select>
      </md-input-container>
    </div>
  </form>
</section>
